address:
  RUN: 117.72.36.124
  ELK: 154.64.245.158
spring:
  cloud:
    nacos:
      server-addr: ${address.RUN}:8848

  apptoken:
    chatgpt-data: 89iu7o8732ijd9114
  config:
    name: LuckySphere-app
    import:
        - nacos:application-dev.yml?refreshEnabled=true
#  profiles:
#    active: dev
  application:
    name: LuckySphere-app





